[Unit]
Description=watchdog daemon
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/sbin/watchdogd -F
ControlGroup=cpu:/
NotifyAccess=main

[Install]
WantedBy=multi-user.target
